.container {
    width: 100%;
    font-family: "NYC Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.full-width {
    width: 100%;
}

.text-bold {
    font-weight: 900;
}

.text-semibold {
    font-weight: 600;
}

.text-italic {
    font-style: italic;
}

.warning {
    color: hsl(0, 100%, 50%);
    font-size: 18px;
    font-weight: bold;
}

.vert-center {
    align-items: center;
}

.vert-center-padded {
    align-items: center;
    padding: 6px;
}

#navbarNav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#navbarText {
    font-size: 1.5rem !important;
}

#navbarSticker {
    height: 60px;
}
