@import url("font.css");
@import url("searchform.css");
@import url("animation.css");
@import url("pages.css");

html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
    padding: 0;
    width: 100%;
    font-family: "NYC Sans", sans-serif;
    font-size: 24px;
    font-weight: 400;
}

/* General layout */

.full-width {
    width: 100%;
}

.align-left {
    text-align: left;
    float: left;
}

.align-center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

.align-right {
    text-align: right;
    float: right;
}

.hide-by-default {
    display: none;
}

.vertically-scrollable {
    overflow-y: auto;
    max-height: 100%;
    width: 100% !important;
}

.no-hover {
    pointer-events: none;
    opacity: 1;
}

.col-md-1-13 {
    flex: 0 0 auto;
    width: calc(100% / 13);
}

/* General text */

.text-size-150 * {
    font-size: 1.5rem;
}

.text-size-125-force * {
    font-size: 1.25rem !important;
}

.text-size-75-force * {
    font-size: 0.75rem !important;
}

.text-bold {
    font-weight: 900;
}

.text-italic {
    font-style: italic;
}

.text-monospace {
    font-family: Consolas, monospace;
}

.text-gray {
    color: gray;
}

.title {
    margin: 30px 0 0 0;
    font-size: 4.2rem;
    line-height: 1;
}

.subtitle {
    font-size: 2.1rem;
    line-height: 1;
}

.text-gradient {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

/* General multimedia */

.image-landscape {
    aspect-ratio: 16 / 9;
    overflow: hidden;
    width: 100%;
    height: auto;
}

.image-roundedge {
    border-radius: 0.5rem;
}

.anchor-no-decoration {
    text-decoration: none;
    color: inherit;
}
.anchor-no-decoration:hover {
    text-decoration: none;
    color: inherit;
}
