.container {
    width: 100%;
    font-family: "NYC Sans", sans-serif;
    font-size: 24px;
    font-weight: 400;
}

/* General layout */

.full-width {
    width: 100%;
}

.align-center {
    text-align: center;
    margin: 0 auto;
}

.align-right {
    text-align: right;
    float: right;
}

.hide-by-default {
    display: none;
}

/* General text */

.text-bold {
    font-weight: 900;
}

.text-italic {
    font-style: italic;
}

.text-monospace {
    font-family: Consolas, monospace;
}

.title {
    margin: 30px 0 0 0;
    font-size: 4.2rem;
    line-height: 1;
}

.subtitle {
    margin: 0 0 30px 0;
    font-size: 2.1rem;
    line-height: 1;
}

.text-gradient {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

/* Navbar */

.gentle-button {
    background-color: #fff;
    transition: background-color 0.3s;
    border: none;
    border-radius: 0.5rem;
    padding: 0.25rem 0.5rem;
    color: grey;
    cursor: pointer;
}
.gentle-button:hover {
    background-color: #eee;
}
.gentle-button:active {
    background-color: lightgrey;
}

#navbarNav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#navbarText {
    font-size: 1.5rem !important;
}

#navbarSticker {
    height: 60px;
}

#navbarSearchForm {
    width: 25%;
}

#navbarSearchInput {
    padding-right: 3rem; /* don't overlap with icon */
}

#navbarSearchButton {
    font-size: 1rem;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
}

/* Home */

#loadingSpinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

#homeSearchInput {
    font-size: 1.5rem;
    padding-right: 3rem; /* don't overlap with icon */
}

#homeSearchButton {
    font-size: 1.25rem;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
}

/* Search */

#sortID,
#sortName {
    cursor: pointer;
}

/* View */

#viewMedia,
#viewMediaContent * {
    max-width: 100%;
    height: 42vh;
}

#viewCaption {
    min-height: 15vh;
    overflow: hidden;
}

#loadingSpinnerMedia #loadingSpinnerCaption {
    display: flex;
    align-items: center;
}
