/* Navbar */

#navbarNav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#navbarSticker {
    height: 60px;
}

.bi-github:hover {
    color: black !important;
    transition: color 0.3s;
}

/* Home */

#homeFeaturedContainer * {
    max-width: 100%;
}

/* Search */

#searchEntryCard {
    cursor: pointer;
    margin: 0.5rem 0;
}

/* View */

#viewMedia {
    display: flex;
    flex-direction: column; /* stack children vertically */
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    border: 2px dotted lightgray;
}

#viewMediaImage {
    display: block;
    width: 42%;
    max-height: 30rem;
    object-fit: contain;
    object-position: center;
}

#viewMediaAudio {
    display: block;
    width: 42%;
}

#viewCaption {
    min-height: 15vh;
    overflow: hidden;
}

#viewCaptionText {
    font-size: 1.25rem;
    line-height: 1.5;
}
