/* Navbar */

#navbarNav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#navbarSticker {
    height: 60px;
}

.bi-github:hover {
    color: black !important;
    transition: color 0.3s;
}

/* Home */

#homeFeaturedContainer * {
    max-width: 100%;
}

/* Search */

#sortID,
#sortName {
    cursor: pointer;
}

/* View */

#viewMedia {
    display: flex;
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    border: 2px dotted lightgray;
}

#viewMediaContent img,
#viewMediaContent video {
    display: block;
    max-width: 100%;
    max-height: 30rem;
    object-fit: contain;
    object-position: center;
}

#viewCaption {
    min-height: 15vh;
    overflow: hidden;
}

#viewCaptionText {
    font-size: 1.25rem;
    line-height: 1.5;
}
