/* Search bars (navbar, home) */

.gentle-button {
    background-color: #fff;
    transition: background-color 0.3s;
    border: none;
    border-radius: 0.5rem;
    padding: 0.25rem 0.5rem;
    color: gray;
    cursor: pointer;
}
.gentle-button:hover {
    background-color: #eee;
}
.gentle-button:active {
    background-color: lightgray;
}

.floating-button {
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
}

#searchInput {
    padding-right: 3rem; /* don't overlap with icon */
}

#searchButton #homeGotoButton {
    font-size: 1.25rem;
}

#filtersContainer {
    position: absolute;
    right: 3rem;
    top: 50%;
    transform: translateY(-55%);
    /*  such that its 1rem size is vertically centered in the 1.5rem search bar.
        This is a bit of a hack, but even 'display: flex' in .align-center
        will be overridden by this position-absolute. */
}

#filtersToggleButton,
#filtersToggleButton .bi {
    font-size: 1rem !important;
}

#filtersMenu {
    position: absolute;
    right: 0;
    width: 750%; /* since its parent is a tiny toggle button */
    padding: 0.5rem;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    z-index: 9999;
}
