{% extends "layout.html" %} {% block content %}

<script
    type="text/javascript"
    src="{{ url_for('static', filename='js/editor.js') }}"
></script>

<!-- AJAX Interface -->
<!-- Must make these visible to JS even if no json conversion is involved -->
<script>
    let edit_mode = "{{ edit_mode }}";
    let type = "{{ type }}";
    let info = {{ info | tojson }};
</script>

<div id="editorpageElements" class="container">
    <div class="row gx-0">
        <div class="col-md-12 subtitle mt-4">
            {% if edit_mode %} Editing {{ type }} #{{ info.id }} {% else %}
            Adding {{ type }} #{{ info.id }} {% endif %}
        </div>
        <input
            id="editorFieldName"
            class="form-control col-md-12 title mt-2"
            type="text"
            value="{{ info.name }}"
            placeholder="Title"
            required
        />
    </div>

    <div class="row mt-4">
        <div class="col-md-6" id="editorpageLeftColumn">
            <!-- upper left -->
            <div class="row">
                <div class="col-md-12">
                    <div id="editorMedia" class="container align-center">
                        <img
                            id="editorMediaImage"
                            src="{{ info.cover }}"
                            alt="Cover for {{ info.name }}"
                        />
                        <audio id="editorMediaAudio" class="mt-3" controls>
                            <source src="{{ info.url }}" type="audio/mpeg" />
                            Your browser does not support the audio element.
                        </audio>
                    </div>
                </div>
            </div>

            <!-- lower left -->
            <div class="row mt-4">
                <div class="col-md-12">
                    <textarea
                        id="editorCaption"
                        class="form-control"
                        style="overflow: auto; resize: vertical"
                        rows="3"
                        placeholder="Image caption"
                    >
{{ info.caption }}
                    </textarea>
                </div>
            </div>
        </div>

        <div class="col-md-6" id="editorpageRightColumn">
            <!-- upper right -->
            <div class="row gx-0 text-size-125-force align-center">
                <div class="col-md-2 text-bold align-left">Song URL:</div>
                <div class="col-md-10">
                    <div class="input-group">
                        <span class="input-group-text">
                            https://object.asset.game-gakuen-idolmaster.jp/
                        </span>
                        <input
                            id="editorFieldSongUrl"
                            class="form-control"
                            type="text"
                            maxlength="6"
                            pattern="^[A-Za-z0-9]{6}$"
                            value="{{ info.url[-6:] }}"
                            title="Enter exactly 6 alphanumerical characters"
                            placeholder="6 digits"
                            required
                        />
                    </div>
                </div>
            </div>
            <div class="row mt-3 gx-0 text-size-125-force align-center">
                <div class="col-md-2 text-bold align-left">Cover URL:</div>
                <div class="col-md-10">
                    <div class="input-group">
                        <span class="input-group-text">
                            https://object.asset.game-gakuen-idolmaster.jp/
                        </span>
                        <input
                            id="editorFieldCoverUrl"
                            class="form-control"
                            type="text"
                            maxlength="6"
                            pattern="^[A-Za-z0-9]{6}$"
                            value="{{ info.cover[-6:] }}"
                            title="Enter exactly 6 alphanumerical characters"
                            placeholder="6 digits"
                            required
                        />
                    </div>
                </div>
            </div>

            <!-- middle right -->
            <div class="text-bold fs-2 mt-4 mb-1">Keywords</div>
            <div class="#editorKeywordsContainer">
                <ul id="keywords-list-ul" class="list-unstyled">
                    {% if info.keywords %} {% for keyword in info.keywords %}
                    <li class="mb-2 d-flex">
                        <input
                            class="fs-4 form-control me-2"
                            placeholder="Keyword"
                            type="text"
                            value="{{ keyword }}"
                        />
                        <button
                            id="editorKeywordsDeleteButton"
                            type="button"
                            class="fs-4 btn btn-danger bi bi-trash"
                        ></button>
                    </li>
                    {% endfor %} {% endif %}
                </ul>
                <button
                    id="editorKeywordsAddButton"
                    type="button"
                    class="fs-4 btn btn-primary bi bi-plus-lg"
                ></button>
            </div>

            <!-- lower right -->
            <div class="row mt-5">
                <div class="col-md-12">
                    <table class="table table-bordered table-hover">
                        <colgroup>
                            <col id="editorTableKey" />
                            <col id="editorTableValue" />
                        </colgroup>
                        <tbody class="align-middle text-gray">
                            <tr>
                                <th>Size</th>
                                <td id="editorTableSize">{{ info.size }}</td>
                            </tr>
                            <tr>
                                <th>MD5</th>
                                <td
                                    id="editorTableMD5"
                                    class="text-monospace fs-6"
                                >
                                    {{ info.md5 }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- submission -->
            <div class="row mt-4">
                <div class="col-md-6">
                    <button
                        id="editorSubmitButton"
                        type="button"
                        class="btn btn-primary w-100 fs-3"
                    >
                        Submit
                    </button>
                </div>
                <div class="col-md-6">
                    <button
                        id="editorDiscardButton"
                        type="button"
                        class="btn btn-outline-danger w-100 fs-3"
                    >
                        Discard Changes
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
