{% extends "layout.html" %} {% block content %}

<script
    type="text/javascript"
    src="{{ url_for('static', filename='js/home.js') }}"
></script>

<div id="loadingSpinner">
    <div class="spinner-border me-2" role="status"></div>
    <span>Fetching manifest...</span>
</div>

<div id="homepageElements" class="container hide-by-default">
    <div id="homeMetadata">
        <div>
            <span>GkmasManifest revision</span>
            <span id="homeMetadataRevision" class="text-bold"></span>
        </div>
        <div>
            <span>with</span>
            <span id="homeMetadataAbCount" class="text-bold"></span>
            <span>assetbundles</span>
        </div>
        <div>
            <span>and</span>
            <span id="homeMetadataResCount" class="text-bold"></span>
            <span>resources.</span>
        </div>
        <div>
            <span>Standby.</span>
        </div>
    </div>

    <div id="homeDigest">
        <div>
            <span>Five latest wallpapers of landscape orientation:</span>
        </div>
        <ul id="homeDigestList" class="text-monospace"></ul>
    </div>
</div>

{% endblock %}
