{% extends "layout.html" %} {% block content %}

<script
    type="text/javascript"
    src="{{ url_for('static', filename='js/view.js') }}"
></script>

<!-- AJAX Interface -->
<!-- Must make these visible to JS even if no json conversion is involved -->
<script>
    let id = "{{ id }}";
    let type = "{{ type }}";
</script>

<div id="loadingSpinner">
    <div class="spinner-border me-2" role="status"></div>
    <span>Fetching object...</span>
</div>

<div id="viewTitle" class="hide-by-default"></div>
<div id="viewSubtitle" class="hide-by-default"></div>

<div>
    <img src="" id="viewImageResponsive" />
</div>

<table
    id="viewPropertyTable"
    class="table table-bordered table-hover hide-by-default"
>
    <thead>
        <tr>
            <th>Property</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

{% endblock %}
