{% extends "layout.html" %} {% block content %}

<script
    type="text/javascript"
    src="{{ url_for('static', filename='js/view.js') }}"
></script>

<!-- AJAX Interface -->
<!-- Must make these visible to JS even if no json conversion is involved -->
<script>
    let type = "{{ type }}";
    let info = {{ info | tojson }};
</script>

<div id="viewpageElements" class="container">
    <div class="row">
        <div class="col-md-12 subtitle mt-4">{{ type }} #{{ info.id }}</div>
        <div class="col-md-12 title mt-2">{{ info.name }}</div>
    </div>

    <div class="row mt-4">
        <div class="col-md-8" id="viewpageLeftColumn">
            <!-- upper left -->
            <div class="row">
                <div class="col-md-12">
                    <div id="viewMedia" class="container align-center">
                        <img
                            id="viewMediaImage"
                            src="{{ info.cover }}"
                            alt="Cover for {{ info.name }}"
                        />
                        <audio id="viewMediaAudio" class="mt-3" controls>
                            <source src="{{ info.url }}" type="audio/mpeg" />
                            Your browser does not support the audio element.
                        </audio>
                    </div>
                </div>
            </div>

            <!-- lower left -->
            <div class="row mt-4">
                <div class="col-md-12">
                    <div id="viewCaption">{{ info.caption }}</div>
                </div>
            </div>
        </div>

        <div class="col-md-4" id="viewpageRightColumn">
            <!-- upper right -->
            <div class="row">
                <div class="col-md-12">
                    <a
                        href="{{ info.url }}"
                        rel="noopener noreferrer"
                        class="btn btn-primary w-100 fs-3"
                    >
                        Download Song
                    </a>
                </div>
                <div class="col-md-12 mt-3">
                    <a
                        href="{{ info.cover }}"
                        rel="noopener noreferrer"
                        class="btn btn-outline-primary w-100 fs-3"
                    >
                        Download Cover
                    </a>
                </div>
            </div>

            <!-- middle right -->
            <div class="text-bold fs-2 mt-5">Explore by keywords</div>
            <ul>
                {% if info.keywords %} {% for keyword in info.keywords %}
                <li class="fs-4">
                    <a href="/search?query={{ keyword }}">{{ keyword }}</a>
                </li>
                {% endfor %} {% endif %}
            </ul>

            <!-- lower right -->
            <div class="row mt-5">
                <div class="col-md-12">
                    <table class="table table-bordered table-hover">
                        <tbody class="align-middle text-gray">
                            <tr>
                                <th>Size</th>
                                <td>{{ info.size }}</td>
                            </tr>
                            <tr>
                                <th>MD5</th>
                                <td class="text-monospace fs-6">
                                    {{ info.md5 }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
